* { margin:0; padding:0; } /* to remove the top and left whitespace */

#glcanvas {
	height:100%;
	width:100%;
}

.canvas {
	border: 2px solid black;
	background-color: black;
	margin-right:255px;
	height:100vh;
}
.sidebar {
	width:250px;
	position:fixed;
	top: 0;
	right: 0;
}
body {
	overflow: hidden;
}

.slider {
        width:100%;
        margin-bottom:8px;
}
video {
        display: none;
}

button {
        padding:5px;
        margin:5px;
}

.checkbox {
        margin-bottom:8px;
}

#status {
	position:fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	font-size: 25px;
	color: white;
}

